.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.forgot-password {
    display: inline-block;
    background-color: rgb(168, 168, 168);
    width: 600px;
    align-content: center;
    border-radius: 20px;
}

.forgot-password form {
    align-items: center;
    text-align: center;

}

.forgot-password input{
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.forgot-password button {
    flex: 1;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
    margin-bottom: 40px;
    width: 80%;
    height: 50px;
}

.footer {
    margin-top: 40px;
}