.perfil {
    margin: 30px;
    padding: 30px;
    width: 50rem;
    height: 20rem;
    text-align: right;
}

.pessoa .btns {
    border-radius: 10px;
    width: 50rem;
    height: 10rem;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    font-size: 20px;

}

#criar {
    text-align: left;
}

.empresa .btns{
    border-radius: 10px;
    width: 50rem;
    height: 10rem;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
}

#bottom-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}